<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.example.mapper.ReceiveNameMapper">
    <select id="findRName" resultType="com.example.domain.ReceiveBean">
        select * from login where username=#{username}
    </select>
    <select id="findSname" resultType="java.lang.String">
        select username from login where sid=#{sid}
    </select>
    <select id="findsid" resultType="java.lang.Integer">
        select sid from login where username=#{username}
    </select>

</mapper>